<button
  (click)="onCreate()"
  class="btn btn-primary"
>
  Send Message
</button>

<button
  (click)="onResolve()"
  class="btn btn-primary"
>
  Resolve
</button>

<div class="max-h-[500px] overflow-auto rounded-lg border border-gray-200 bg-white p-4 shadow-md">
  <pre>{{ resource.tickets() | json }}</pre>
</div>

<div class="p-4">
  <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
    <div>
      <h2 class="mb-4 text-center text-xl font-bold text-black">Tickets in Queue</h2>
      <app-tickets-queue></app-tickets-queue>
    </div>
    <div>
      <h2 class="mb-4 text-center text-xl font-bold text-black">Tickets in Process</h2>
      <app-tickets-process></app-tickets-process>
    </div>
    <div>
      <h2 class="mb-4 text-center text-xl font-bold text-black">Tickets Resolved</h2>
      <app-tickets-resolved></app-tickets-resolved>
    </div>
  </div>
</div>
