<button (click)="sendMessage()" class="btn btn-primary">
  Send Message
</button>

<div class="p-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div>
            <h2 class="text-xl font-bold mb-4 text-center text-black">Tickets in Queue</h2>
            <app-tickets-queue></app-tickets-queue>
        </div>
    <div>
        <h2 class="text-xl font-bold mb-4 text-center text-black">Tickets in Process</h2>
        <app-tickets-process></app-tickets-process>
    </div>
        <div>
            <h2 class="text-xl font-bold mb-4 text-center text-black">Tickets Resolved</h2>
            <app-tickets-resolved></app-tickets-resolved>
        </div>
    </div>
</div>
