<div class="p-4">
  <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
    <div>
      <h2 class="mb-4 text-center text-xl font-bold text-black">Tickets in Queue</h2>
      <app-tickets-queue [tickets]="queueTickets()" />
    </div>
    <div>
      <h2 class="mb-4 text-center text-xl font-bold text-black">Tickets in Process</h2>
      <app-tickets-process [tickets]="processTickets()"/>
    </div>
    <div>
      <h2 class="mb-4 text-center text-xl font-bold text-black">Tickets Resolved</h2>
      <app-tickets-resolved [tickets]="resolvedTickets()"/>
    </div>
  </div>
</div>
